fastapi==0.115.2
uvicorn[standard]==0.27.1
starlette==0.40.0
python-multipart==0.0.18
langchain==0.3.0
langchain-nvidia-ai-endpoints==0.3.5
dataclass-wizard==0.22.3
numexpr==2.9.0
psycopg2-binary==2.9.9
vanna[postgres,milvus]==0.7.5